@use './colors.scss';

button {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;

  &.icon-btn {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.5em;
  }

  &.btn-rounded {
    padding: 0.75em 1.75em;
    border-radius: 2rem;

    &.btn-small {
      padding: 0.75em 1.25em;
    }
  }

  &.green-btn {
    background-color: #27ae60;
    color: colors.$white;
  }

  &.orange-btn {
    background-color: #f49a40;
    color: colors.$white;
  }
}
